body{
    padding: 0px;
    margin: 0px;
    background-color: salmon;
}

.box{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.c-violet{
    background-color: blueviolet;
}

.c-red{
    background-color: seagreen;
}

.c-blue{
    background-color: skyblue;
}